[Unit]
Description=streamsink
After=network.target

[Service]
Type=simple
User=root
Restart=always
RestartSec=5s
WorkingDirectory=/home/--/src/StreamSink.Go
ExecStart=/home/--/src/StreamSink.Go/streamsink
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=streamsink

[Install]
WantedBy=multi-user.target
